<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
      <% include ../helpers/navbar %>

  
    <h1>Sunny Dhoke</h1>

  </div>
  <div class="city">

  </div>
  <div class= "temp">
  
  </div>
  <div class="humid">

  </div>



  <div class="error-message">
    
  </div>

 
  <div>
  <input class="search" type="text" placeholder="Enter City Name">
  <button type="button" onclick="searchWeather()">Search</button>
  </div>
  <div>
  <button onclick="handleSignIn()">Google Login</button>
  </div>

  <form onSubmit="handleMessageFormSubmit()"action="#">
    Title:<hr>
    <input id="post-title"><br>
    Body:<br>
    <textarea id="post-body"></textarea><hr>
    <button>Submit</button>
  </form>

<div id="post-listing">
  <p>Can you see post data?</p>
</div>


  <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>

</html>